.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .MuiButtonBase-root .MuiButton-root .MuiButton-outlined .MuiButtonGroup-grouped .MuiButtonGroup-groupedHorizontal .MuiButtonGroup-groupedOutlined .MuiButtonGroup-groupedOutlinedHorizontal .MuiButtonGroup-groupedOutlinedSecondary .MuiButton-outlinedSecondary {
 background-color: #282c34 !important;
 color: #61dafb;
} */
/* .MuiTooltip-poper{
  background-color: black !important;
} */


.holi::before{
  background-color: rgb(247, 225, 31) !important;
}

/* .holi:focus {
  outline: 2px solid black;
} */